<mat-toolbar>
  <span>User Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <h6 matLine *ngIf="registerMessage">{{registerMessage}}</h6>

    <mat-error *ngIf="confirmPwdMsg">{{confirmPwdMsg}}</mat-error>


    <form #registerForm="ngForm" (ngSubmit)="registerUser()" class="my-form">

      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input  matInput  placeholder="First name" [(ngModel)]="user.firstName" name="firstName"  required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input  matInput  placeholder="Last Name" [(ngModel)]="user.lastName"  name="lastName"  required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [max]="today"  [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="user.birthDate"  name="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input  matInput  placeholder="Address" [(ngModel)]="user.address" name="address"  required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contact No</mat-label>
        <input  matInput type="tel" placeholder="Contact No." [(ngModel)]="user.contactNumber"  name="contactNumber" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  type="email" placeholder="Email"  [formControl]="email" name="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput type="password" placeholder="Password"  [(ngModel)]="user.password"  name="password" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input  matInput type="password"  placeholder="Confirm Password"  [(ngModel)]="user.confirmPassword"  name="confirmPassword" required>
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="registerForm.invalid" class="btn" color="primary" type="submit" (click)="registerUser()">REGISTER</button>
    <!--<button mat-raised-button (click)="registerUser()" color="primary">REGISTER</button>-->
    <button mat-raised-button (click)="doReset()" color="primary">Reset</button>

  </mat-card-actions>
</mat-card>
