
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>User ID</mat-label>
        <input  matInput  placeholder="UserID"  [(ngModel)]="user.userId" name="userId" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput TYPE="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="tryLogin()" color="primary">Login</button>
    <mat-hint size="small" align="start">New User?</mat-hint>

    <button mat-raised-button (click)="routeToRegister()" color="primary">Register</button>

    <!--<a mat-button routerLink="/register">Register</a>-->

  </mat-card-actions>
</mat-card>
