<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="tryLogin()" class="needs">
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group" [ngClass]="{
  'has-danger': userName.invalid && userName.dirty,
  'has-success': userName.valid && userName.dirty
}">
      <label>User Name</label>
      <input type="text" class="form-control" formControlName="userName" required autofocus/>
      <div class="form-control-feedback"
           *ngIf="userName.errors && (userName.dirty || userName.touched)">
        <p *ngIf="userName.errors.required">User Name is required</p>
        <p *ngIf="userName.errors.minlength">User Name must be 5 characters long, we need another {{userName.errors.minlength.requiredLength - userName.errors.minlength.actualLength}} characters </p>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control"  formControlName="password" [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
   }" required/>
      <div class="form-control-feedback"
           *ngIf="password.errors ">
        <p *ngIf="password.errors.required">Password is required</p>
        <p *ngIf="password.errors.minlength">Password must be 5 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
      </div>
    </div>


    <button type="submit" class="btn btn-primary" >Submit</button>
    <a routerLink="/register" class="btn btn-link">Register</a>

  </form>
</div>
