
<div class="row">
  <div class="col-sm-4">
    Welcome {{userName}}
  </div>
  <div class="col-sm-4" align="center">
    Available Policies
  </div>

  <div class="col-sm-4" align="left">
    <a routerLink="/login"> Logout</a>
  </div>

</div>
<div>
  <ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    (cellValueChanged)="onCellValueChanged($event)"
    [columnDefs]="columnDefs">
  </ag-grid-angular>

</div>

<div *ngIf="isUser">
  <h6> {{userName}} Policy Details</h6>
  <ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    [rowData]="userPolicyRowData"
    [columnDefs]="userPolicyColDefs">
  </ag-grid-angular>

</div>
